@font-face {
  font-family: 'Klavika';
  src: url('/assets/webfonts/KlavikaBasicWebRegular.eot'); /* IE9 Compat Modes */
  src: url('/assets/webfonts/KlavikaBasicWebRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/webfonts/KlavikaBasicWebRegular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/webfonts/KlavikaBasicWebRegular.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Klavika Bold';
  src: url('/assets/webfonts/KlavikaBasicWebBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/webfonts/KlavikaBasicWebBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/webfonts/KlavikaBasicWebBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/webfonts/KlavikaBasicWebBold.woff') format('woff'); /* Pretty Modern Browsers */
}


body {
  background: #cdcdcd; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0), rgb(205, 205, 205)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0), rgb(205, 205, 205)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0), rgb(205, 205, 205)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgb(205, 205, 205)); /*Standard*/
  margin: 0 auto;
  font-family: "Klavika", sans-serif;
}


h2 {
  margin: 50px 0 0 0;
  text-align: center;
  font-family: "Klavika Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 50px;
  color: #d70000;
}

:focus {
  outline: 0;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
  top: 0;
  position: relative;
}


#snap {
  font-size: 50px;
  display: block;
  background: #ff0000; /* For browsers that do not support gradients */
  border-radius: 50%;
  border: 10px solid #d70000;
  padding: 10px;
  height: 130px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
  & img {
    opacity: 0.5;
    width: 80px;
  }
}

.output {
  position: relative;
  top: 0;
  width: 48%;
  font-family: "Klavika", sans-serif;
  font-size: 50px;
  height: 100%;
  display: inline-block;
  // background-color: red;
}

.input {
  position: relative;
  width: 48%;
  height: 100%;
  display: inline-block;
  // background-color: yellow;
}

video, canvas {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: inline-block;
}
